<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>

	<appSettings>
		<add key="Page1" value="6ГР" />
		<add key="Page2" value="ПурНефтегаз" />
		<add key="Page3" value="ЮганскНефтегаз" />
		<add key="Page4" value="tabPage4" />
		<add key="Page5" value="tabPage5" />
		<add key="Page6" value="tabPage6" />
		<add key="Page7" value="tabPage7" />
		
		<add key="FileName" value="Reestr_{0}.xlsx" />
		<add key="SavePath" value="C:\Output" />
		
		<add key="Template" value="template.xlsx" />
		<add key="Destination1" value="Реестр - Предприятие" />
		<add key="Destination2" value="Реестр - Месторождение" />
		<add key="Destination3" value="Реестр - Лицензия" />
		<add key="Destination4" value="Реестр - Протокол ПЗ" />
		<add key="Destination5" value="Запасы" />
		<add key="Destination6" value="Залежи" />
		<add key="Destination7" value="Характеристики" />

		<add key="Destination8" value="Справочник - Стратиграфия" />

		<add key="Sheet1_Source" value="шапка" />
		<add key="Sheet1_CompanyName" value="I13" />
		<add key="Sheet1_PostalAddress" value="D14" />
		<add key="Sheet1_Inn" value="O19" />
		<add key="Sheet1_Okpo" value="G19" />
		<add key="Sheet1_Oktmo" value="K19" />
		<add key="Sheet1_Kpp" value="R19" />

		<add key="Sheet2_Source" value="К_РН-Пурнефтегаз(2)" />
		<add key="Sheet2_Source2" value="К_РН-Пурнефтегаз(3)" />
		<add key="Sheet2_Source3" value="Оглавление" />
		<add key="Sheet2_FieldIndex" value="2" />
		<add key="Sheet2_FieldName" value="3" />
		<add key="Sheet2_RegionOfRussia" value="4" />
		<add key="Sheet2_DevelopmentStage" value="7" />
		<add key="Sheet2_CompanyName" value="W58" />
		<add key="Sheet2_PostalAddress" value="L61" />
		<add key="Sheet2_Inn" value="AP79" />
		<add key="Sheet2_Okpo" value="L79" />
		<add key="Sheet2_Oktmo" value="AA79" />
		<add key="Sheet2_Kpp" value="BE79" />

		<add key="Sheet3_Source" value="Н_РН-Пурнефтегаз(2)" />
		<add key="Sheet3_Source2" value="Н_РН-Пурнефтегаз(3)" />
		<add key="Sheet3_Source3" value="Оглавление" />
		<add key="Sheet3_FieldIndex" value="2" />
		<add key="Sheet3_FieldName" value="3" />
		<add key="Sheet3_RegionOfRussia" value="4" />
		<add key="Sheet3_DevelopmentStage" value="7" />
		<add key="Sheet3_CompanyName" value="W58" />
		<add key="Sheet3_PostalAddress" value="L61" />
		<add key="Sheet3_Inn" value="AP79" />
		<add key="Sheet3_Okpo" value="L79" />
		<add key="Sheet3_Oktmo" value="AA79" />
		<add key="Sheet3_Kpp" value="BE79" />

		<add key="Sheet4_Source" value="РН-Пурнефтегаз (ООО)(2)" />
		<add key="Sheet4_Source2" value="РН-Пурнефтегаз (ООО)(3)" />
		<add key="Sheet4_Source3" value="Оглавление" />
		<add key="Sheet4_FieldIndex" value="2" />
		<add key="Sheet4_FieldName" value="3" />
		<add key="Sheet4_RegionOfRussia" value="4" />
		<add key="Sheet4_DevelopmentStage" value="6" />
		<add key="Sheet4_CompanyName" value="AH71" />
		<add key="Sheet4_PostalAddress" value="W74" />
		<add key="Sheet4_Inn" value="BA92" />
		<add key="Sheet4_Okpo" value="W92" />
		<add key="Sheet4_Oktmo" value="AL92" />
		<add key="Sheet4_Kpp" value="BP92" />

		<add key="Sheet5_Source" value="Нефть - Шапка" />
		<add key="Sheet5_Source2" value="Нефть - 6 гр. - лист1" />
		<add key="Sheet5_CompanyName" value="I13" />
		<add key="Sheet5_PostalAddress" value="D14" />
		<add key="Sheet5_Inn" value="O19" />
		<add key="Sheet5_Okpo" value="G19" />
		<add key="Sheet5_Oktmo" value="K19" />
		<add key="Sheet5_Kpp" value="R19" />

		<add key="Sheet6_Source" value="нефть" />
		<add key="Sheet6_Source2" value="нефть" />
		<add key="Sheet6_CompanyName" value="B12" />
		<add key="Sheet6_PostalAddress" value="" />
		<add key="Sheet6_Inn" value="" />
		<add key="Sheet6_Okpo" value="" />
		<add key="Sheet6_Oktmo" value="" />
		<add key="Sheet6_Kpp" value="" />

		<add key="Sheet7_Source" value="Газ - Шапка" />
		<add key="Sheet7_Source2" value="Газ - 6 гр. - лист1" />
		<add key="Sheet7_CompanyName" value="I13" />
		<add key="Sheet7_PostalAddress" value="D14" />
		<add key="Sheet7_Inn" value="O19" />
		<add key="Sheet7_Okpo" value="G19" />
		<add key="Sheet7_Oktmo" value="K19" />
		<add key="Sheet7_Kpp" value="R19" />
	</appSettings>
</configuration>